<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.loginMapper">

    <select id="login" parameterType="java.lang.String" resultType="com.example.entity.user">
    select *
      from user
      where userName = #{userName,jdbcType=VARCHAR}
  </select>
    <insert id="rigster" parameterType="com.example.entity.user">
         insert into user(userID, userName, password,regAge,regSex,regEmail,regPhoto
         ,admin,regTime,loginTime
     )
    values (#{userID,jdbcType=VARCHAR}
     ,#{userName,jdbcType=VARCHAR}
     , #{password,jdbcType=VARCHAR}
     ,#{regAge,jdbcType=INTEGER}
     ,#{regSex,jdbcType=VARCHAR}
     ,#{regEmail,jdbcType=VARCHAR}
     ,#{regPhoto,jdbcType=VARCHAR}
     ,#{admin,jdbcType=VARCHAR}
     ,now()
     ,now())

  </insert>

</mapper>